root = true

[*]
charset = utf-8
indent_size = 4
indent_style = space
insert_final_newline = true
max_line_length = 80
trim_trailing_whitespace = true

[{scripts/{git-prune-branches,git-open}, *.py}]
max_line_length = 79

[*.lua]
indent_style = tab
max_line_length = 100

[*.{yml,yaml}]
indent_size = 2

[git/.config/git/config]
indent_size = 2
